<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>PhoneNo:</b>
  <%= @user.email %>
</p>



<%= link_to 'Products List', '/products' %>